* {
    user-select: none;
}

body {
    margin:0px 0px;
    padding:0px;
}

#cards {
    background-color: #FFE;
    margin: 0 auto;
}
#footer {
    padding: 30px 0px 30px 0px;
    background-color: #EFF;
    text-align: center;
}

.card {
}